.MuiContainer-root {
  padding: 0 !important;
  max-width: 1000px !important;
}

.MuiCardContent-root:last-child {
  padding-bottom: 16px !important;
}

.MuiAvatarGroup-avatar {
  width: 30px !important;
  height: 30px !important;
  font-size: 12px !important;
  background-color: #6573c3 !important;
}