@font-face {
  font-family: 'Roboto';
  src: url(../assets/fonts/Roboto-Regular.ttf);
}

* {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.app {
  font-size: 22px;
  color: chocolate;
  font-weight: bold;
}
